{% extends 'base.html' %}

{% block title %}{{user.first_name}} {{user.last_name}}{% endblock %}

{% block content %}

<p>{{user.email}}</p>

<h2>Notes</h2>
<ul>
    {% for note in notes %}

    <li><a href="/notes/{{note.id}}/update">Edit</a>
        <form action="/notes/{{note.id}}/delete" method="POST" style="display: inline-block">
            {{form.hidden_tag()}}
            <button type="submit">Delete</button>
        </form>
        <a href="/notes/{{note.id}}">{{note.title}} {{note.content}}</a>
    </li>
    {% endfor %}
</ul>

<a href="/users/{{user.username}}/notes/add">Add Note</a>

<form action="/logout" method="POST">
    {{form.hidden_tag()}}
    <button type="submit">Logout</button>
</form>

<form action="/users/{{user.username}}/delete" method="POST">
    {{form.hidden_tag()}}
    <button type="submit">Delete User</button>
</form>


{% endblock %}